* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

body {
  background-color: #e0e0e0;
}

a {
  color: black;
}

input, textarea {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
