* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;

}

body {
  background-color: #081229;
}

a {
  color: #fff; 
}

input,
textarea {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.color_test {
  --color-secondary: #bf1650;
  --color-light-pink: #ec5990;
  --color-primary: #0e101c;
  --color-blue: #1e2a4a;
  --color-button-blue: #191d3a;
  --color-light-blue: #516391;
  --color-link: #ff7aa8;
  --color-medium-blue: #4f6294;
  --color-black: #2d2d2d;
  --color-purple: #0f111b;
  --color-grey: #333;
  --color-light-grey: #ccc;
}
