* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: rgb(238, 243, 246);
}